src/service/MultiplicationService1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="MultiplicationService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8084/MultiplicationService/MultiplicationService?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8084/MultiplicationService/MultiplicationService?xsd=2" />
</xsd:schema>
</types>
<message name="deneme">
<part name="parameters" element="tns:deneme" />
</message>
<message name="denemeResponse">
<part name="parameters" element="tns:denemeResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="multiplicationMatrices">
<part name="parameters" element="tns:multiplicationMatrices" />
</message>
<message name="multiplicationMatricesResponse">
<part name="parameters" element="tns:multiplicationMatricesResponse" />
</message>
<portType name="MultiplicationService">
<operation name="deneme">
<input wsam:Action="http://service/MultiplicationService/denemeRequest" message="tns:deneme" />
<output wsam:Action="http://service/MultiplicationService/denemeResponse" message="tns:denemeResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://service/MultiplicationService/helloRequest" message="tns:hello" />
<output wsam:Action="http://service/MultiplicationService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="multiplicationMatrices">
<input wsam:Action="http://service/MultiplicationService/multiplicationMatricesRequest" message="tns:multiplicationMatrices" />
<output wsam:Action="http://service/MultiplicationService/multiplicationMatricesResponse" message="tns:multiplicationMatricesResponse" />
</operation>
</portType>
<binding name="MultiplicationServicePortBinding" type="tns:MultiplicationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="deneme">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiplicationMatrices">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="MultiplicationService">
<port name="MultiplicationServicePort" binding="tns:MultiplicationServicePortBinding">
<soap:address location="http://localhost:8084/MultiplicationService/MultiplicationService" />
</port>
</service>
</definitions>